fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
langgraph
sentence-transformers

pypdf
faiss-cpu
numpy

chromadb
langchain-chroma
scikit-learn
tiktoken
unstructured[pdf]
